body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: whitesmoke !important;
   */
   background-color: whitesmoke !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button{
  margin: 10px;
  color: white !important;
  text-decoration: none;
  
}

button:focus{
 border: none !important;
 outline: none !important;
  
}

link{
  color: white !important;
}

link:hover{
  color: black !important;
}
a:hover{
  position: relative;
 /* bottom: 2px; */
  color: #CE6D39 !important;
  text-decoration: none !important;
  
  
}

.toolbar_button:hover{
  color: #CE6D39 !important;
  background-color: white !important;
}
/* 
.subtitle_2{
  font-weight: medium;
  font-size: 14px;
  letter-spacing: 0.1px;
} */

.design_brown{
  background-color: #CE6D39 !important;
}


.design_green{
  background-color: #5CAB7D !important;
}

.design_green_text{
  color: #5CAB7D !important;
}


.design_brown_main{
  background-color: #CE6D39 !important;
}

.design_pale{
  background-color: #FFF1E9 !important;
}