.wrapper_travel_dashboard{
    margin-top: 60px;
    
}
/* 
.subtitle_2{
    font-weight: medium;
    font-size: 14px;
    letter-spacing: 0.1px;
} */

.container_width_standard{
    max-width: 1400px !important;
    margin: 0px auto;
    text-align: left;
}

.container_width_standard h1{
   
    text-align: left;
}
.header_legend{
    z-index: 10;
}

.sub_heading{
   
}
.heading{
    margin-left: 0px;
    padding-left: 0px;
}

.heading_wrapper{
    padding: 16px;
}

.dashboard{
    margin-top: 60px;
    text-align: left;
    padding: 16px;
}

.dashboard_left_container{
 
display: inline-block;
width: 50%;
float: left;
padding: 16px;
}
.dashboard_right_container{
    display: inline-block;
    width: 50%;
   float: right;
   padding: 16px;
}
.article{
    /* padding: 8px; */
    margin: 16px;
}

.button_article{
    color: #CE6D39 !important;
    float: right !important;
    flex: 1 0 auto !important
}
.media{
    /* height: 140px !important; */
}
/* .article_title{
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: bold;
} */

.news_container{
    max-height: 1000px;
    overflow-y: scroll;
}

.chart{
    width: 600px !important;
    
}

.weather_attribute{
    margin: 20px;
}

.weather_card{
    margin-bottom: 6px;
}

.weather_container{
    max-height: 500px;
    overflow-y: scroll;
}