.wrapper_travel_dashboard{
    margin-top: 60px;
    
}
/* 
.subtitle_2{
    font-weight: medium;
    font-size: 14px;
    letter-spacing: 0.1px;
} */

.container_width_standard{
    width: 1000px !important;
    margin: 0px auto;
    text-align: left;
}

.container_width_standard h1{
   
    text-align: left;
}